@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    /* custom-variables */
    --border-radius: 7px;
    --post-bg: #fff;
    --post-text-shadow: rgb(119, 119, 119) 2px 0px 4px;
    /* colors */
    --primary-color: #007ea7;
    --secondary-color: #f79256;
    --light-color: #00b4d8;
    --so-light-color: #f1f5f9;
    --dark-color: #003459;
    --black-color: #00171f;
    --navy-blue: #374151;
    --gray-color: #999;
    --success-color: #21837b;
    --danger-color: #ef233c;
    --dark-red: #6d1124;
    --text-color: #000;
    --background-color: #fff;
    --background-color-2: #f9f9f9;
    --text-light-color: #222;
    --border-color: #bbb;
    --border-light-color: #dfdfdf;
    --input-border-color: #999;
    --hover-text-color: #00171f;
    /* --text-so-light-color: #5f6368; */

    /* ~~dark */
    /* --primary-color: #007ea7;
    --secondary-color: #f79256;
    --light-color: #00b4d8;
    --so-light-color: #f1f5f9;
    --dark-color: #003459;
    --black-color: #00171f;
    --gray-color: #999;
    --success-color: #21837b;
    --danger-color: #ef233c;
    --text-color: #eee;
    --background-color: #0b0b0b; */
  }

  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

body,
/* *[class*="shadcn"], */
*[class*="shadcn-style"],
.custom-modal {
  /* background-color: red; */
  /* border: none; */
  color: var(--text-color);
  background-color: var(--background-color);
}

/* for colors themes */
.dark-theme {
  --primary-color: #007ea7;
  --secondary-color: #f79256;
  --light-color: #00b4d8;
  --so-light-color: #1b1b1b;
  --dark-color: #003459;
  --black-color: #00171f;
  --navy-blue: #8895ab;
  --gray-color: #999;
  --success-color: #21837b;
  --danger-color: #ef233c;
  --text-color: #dadada;
  --background-color: #0b0b0b;
  --background-color-2: #171717;
  /* --text-light-color: #5f6368; */
  --text-light-color: #a2a5a9;
  --border-color: #1c1c1c;
  --border-light-color: #2c2c2c;
  --input-border-color: #3b3b3b;
  --hover-text-color: #dadada;
  /* custom-variables */
  --post-bg: #111;
  --post-text-shadow: rgb(0 0 0) 2px 0px 11px;

  svg.need-invert {
    filter: opacity(0.75) invert(1);
  }
}

.custom-background {
  background-image: linear-gradient(
    to left,
    var(--primary-color) 40%,
    var(--dark-color)
  );
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .select-new-file {
    @apply mt-2 flex flex-col items-center justify-center rounded-lg border border-dashed border-[var(--border-light-color)] px-6 py-10 text-center;
  }
  .active-link {
    @apply bg-[var(--so-light-color)] hover:bg-[var(--so-light-color)];
  }
  .basic-input {
    @apply border-[var(--input-border-color)] border-[var(--input-border-color)] outline-[0px] py-2 px-3 rounded-[7px] focus:outline outline-2 outline-[#999] bg-[var(--background-color-2)];
  }
  .title {
    @apply text-xl;
  }
}

body {
  width: 100%;
}

/* ******************** */
/* ******************** */
html {
  scroll-behavior: smooth;
}

* {
  text-transform: capitalize;
}
*:not(*:has(> .shadcn-style)) {
  transition: 0.075s;
}

:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.disabled-all {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

img {
  border-radius: var(--border-radius);
}

svg {
  /* width: unset;
  height: unset; */
  width: fit-content;
  height: fit-content;
}

button {
  text-transform: capitalize;
}

@keyframes amin-deleting-item {
  0% {
    /* background-color: rgba(255, 0, 0, 0.405); */
    /* scale: 1; */
    transform: scaleX(1);
  }
  80% {
    transform: scaleX(0.85);
  }
  100% {
    /* scale: 0.825; */
    transform: scaleX(1);
  }
}
input,
textarea {
  border: 1px solid;
  /* padding: 1rem; */
  text-transform: none;

  &::placeholder {
    text-transform: capitalize;
  }
}

a {
  display: inline-block;
}

.link {
  padding: 0.65rem 1.25rem;
  border-radius: var(--border-radius);
}

/********* for fonts ***************/
html {
  /* due to Comfortaa font (usually 16px)  */
  /* the only issue is there's no very bold weight, so to fix this we can another font witch is here ()  */
  font-size: 15px;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}

.--second-font--bold {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}

.--arabic-font {
  font-family: "Tajawal", Arial, Helvetica, sans-serif;
}

/* for Modal */
.custom-modal {
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  margin-top: -430px;
  transition: all 0.3s, background-color 0.9s, backdrop-filter 0.9s;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.345);
  backdrop-filter: blur(2.25px);
  z-index: 10;
  pointer-events: none;
}
.custom-modal.open {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  pointer-events: unset;
}
.custom-modal .content-modal {
  position: relative;
  background-color: var(--background-color-2);
  /* color: var(--text-color); */
  /* padding: 5px 0; */
  padding: 40px 25px;
  border: 1px solid var(--border-light-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  visibility: hidden;
  opacity: 0.35;
  /* margin-top: -150px; */
  margin-top: -65px;
  /* scale: 0.3; */
  transition: 0.7s;
  overflow: hidden;
  width: 492px;
  max-height: 91.5vh;
  max-width: 95vw;
  border-radius: 12px;
}
.custom-modal .content-modal.open {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  /* scale: 1; */
}
.custom-modal {
  button.close-modal {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 18px;
      height: 2.5px;
      /* border-radius: 2px; */
      background-color: #2f2f2f;
      background-color: var(--text-light-color);
      z-index: 10;
      border-radius: 2px;
    }
    &::before {
      rotate: 45deg;
      /* left: ; */
      top: calc(50% + 3.55px);
    }
    &::after {
      rotate: 125deg;
      width: 20;
    }
    span {
      background-color: var;
      position: absolute;
      left: 50%;
      top: calc(50% + 3px);
      transform: translate(-50%, -50%);
      width: calc(100% + 9.5px);
      height: calc(100% + 9.5px);
      border-radius: 2.5px;
    }
  }
}

/* .custom-modal .content-modal.open > *:first-child > * {
   margin-top: 0;
 }
 .custom-modal .content-modal > *:first-child > * {
   margin-top: -350px;
   transition: 1s;
 } */
/********************************************/

@keyframes created-post {
  0% {
    background-color: rgba(0, 255, 51, 0.262);
  }
}

@keyframes show-height-slowed {
  0% {
    max-height: 0;
    overflow: hidden;
  }
}

/* hidden item */
#hidden-items--- {
  display: none !important;
}

/* unset some items in uploadThing */
.my-uploadThing-item-- {
  /* background-color: red; */
  margin-top: 0.65rem;
  /* margin-bottom: 1.8rem; */

  > div > div {
    border-color: #5c5c5c;
  }

  button.select-new-file {
    /* background-color: rgb(120, 120, 241); */
    /* background-color: var; */
    padding: 0.55rem 1rem !important;
    border-radius: 8px;
    color: #fefefe;
  }

  button[data-ut-element="button"] {
    color: var(--text-color);
    padding: 0.325rem 0.8rem;
    border-color: #2f2f2f !important;
  }

  > .input-item {
    cursor: pointer;
    width: fit-content;

    > * {
      width: fit-content;
      height: fit-content;
      padding: 0;
      margin: 0;

      > *:not(button) {
        display: none;
      }
      > button {
        margin: 0;
        /* display: none; */
      }
    }

    &.disabe-button-when-err {
      button {
        display: none;
      }
      .select-new-file {
        display: block;
      }
    }

    &.hide-Upload-Button {
      button {
        display: none;
      }
    }
  }
}

.lines-with-dots {
  /* line-height: 1.6rem; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* max-height: 3.2rem; */
  &.__1 {
    -webkit-line-clamp: 1;
  }
  &.__2 {
    -webkit-line-clamp: 2;
  }
  &.__3 {
    -webkit-line-clamp: 3;
  }
  &.__4 {
    -webkit-line-clamp: 4;
  }
  &.__5 {
    -webkit-line-clamp: 5;
  }
}

/*  */

/* .active-link {
  text-decoration: underline 2px #2f2f2f;
} */

.overflow-hidden-important {
  overflow: hidden !important;
}

.disable-click-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 10000;
}

/* custom animations */

@keyframes scale-appear {
  0% {
    scale: 0;
  }
}
@keyframes scale-disappear-post {
  0% {
    scale: 0.9;
  }
}
@keyframes congrats {
  0% {
    opacity: 0.5;
    scale: 0.2;
    rotate: 20deg;
  }
  20% {
    opacity: 1;
  }
}

/* end animation */

button.like-btn {
  position: relative;
  border: 2px solid var(--primary-color);
  box-shadow: 8px 8px transparent;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 2.5px;
  padding-bottom: 2.5px;

  &.liked {
    /* border-color: #fff; */
    border: none;
    color: #fff;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1.8px;
    padding-bottom: 1.8px;

    span {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.liking-animation {
    animation: liking-affect 1.25s;
  }

  span {
    transition: 0.3s;
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(
      to right,
      var(--primary-color),
      var(--dark-color)
    );
    z-index: 1;
  }

  &:hover {
    &:not(&.liked) {
      border-color: var(--dark-color);
    }
    span {
      scale: 1.155;
      background-color: var(--dark-color);

      &.b-1 {
        bottom: 8.5px;
        left: -8.5px;
      }
      &.b-2 {
        top: 8px;
        right: -6.5px;
      }
    }
  }

  span {
    position: absolute;
    border-radius: 7px;
    /* text-shadow: ; */

    /* &.b-1 {
      top: 0;
      left: -1px;
      width: 2px;
      height: calc(100% + 6.5px);
      background-color: var(--primary-color);
      z-index: -2;
    }
    &.b-2 {
      top: calc(100% - 2px);
      left: -5px;
      width: calc(100% + 4px);
      height: 3px;
      background-color: var(--primary-color);
      z-index: -2;

    } */

    &.b-1 {
      bottom: -3px;
      left: -3px;
      width: 7.5px;
      height: 7.5px;
      /* background-color: var(--primary-color); */
      border-radius: 30% 70% 70% 30% / 43% 30% 70% 57%;
      /* z-index: -1; */
    }
    &.b-2 {
      top: -4px;
      right: -3px;
      width: 7.5px;
      height: 7.5px;
      /* background-color: var(--primary-color); */
      border-radius: 30% 70% 70% 30% / 43% 30% 70% 57%;
      /* z-index: -1; */
    }
    &.b-3 {
      top: 0px;
      left: -7px;
      width: 18px;
      height: 18px;
      border-radius: 30% 70% 70% 30% / 43% 30% 70% 57%;
      background-color: var(--primary-color);
      z-index: -2;
    }
    &.b-4 {
      top: 2px;
      right: -7px;
      width: 26px;
      height: 26px;
      border-radius: 30% 70% 70% 30% / 43% 30% 70% 57%;
      background-color: var(--dark-color);
      z-index: -2;
      rotate: 15deg;
    }
  }
}

@keyframes liking-affect {
  0% {
    border-color: var(--dark-color);
    /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; */
    box-shadow: 0 0 5px var(--dark-color), 0 0 20px var(--dark-color),
      0 0 50px var(--dark-color), 0 0 100px var(--dark-color);
  }
}

@keyframes opacity-translate-anim {
  0% {
    transform: 
    /* skewX(-320deg) */ translate3d(-22px, 2px, 2px);
    transform-origin: top;
    opacity: 0;
    overflow: hidden;
  }
}

/* Game style */
.game-style {
  .title {
    font-family: "Luckiest Guy", cursive;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 2px 0 #4da6ff, 0 4px 0 #0066cc, 0 6px 0 #003366,
      0 8px 10px rgba(0, 51, 102, 0.3);
    text-align: center;
    margin: 30px 0;
    letter-spacing: 2px;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    animation: titleFloat 3s ease-in-out infinite alternate;
    line-height: 100%;
    margin-bottom: 3.5rem;
    transition: 2.85s;

    &:hover {
      transition: 0.185s;
      text-shadow: 0 2px 0 #ff8a00, 0 4px 0 #ff5500, 0 6px 0 #ff3000,
        0 8px 20px rgba(255, 100, 0, 0.6), 0 0 30px rgba(255, 200, 0, 0.8);
      transform: scale(1.025);
    }

    &::before {
      content: attr(data-text);
      position: absolute;
      color: rgba(255, 255, 255, 0.1);
      top: 5px;
      left: 0;
      width: 100%;
      transform: translateZ(-20px);
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 10px;
      background: radial-gradient(
        ellipse at center,
        rgba(255, 165, 0, 0.8) 0%,
        rgba(255, 165, 0, 0) 70%
      );
      bottom: -15px;
      left: 10%;
      filter: blur(5px);
    }
  }

  .game-board {
    /* perspective: 1000px; */
    /* margin-bottom: -15px; */

    .card {
      user-select: none;
      aspect-ratio: 1/1;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      > div {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.6s;
        background: var(--border-light-color);
      }
      .back {
        font-size: 50px;
        line-height: 120px;
        font-family: monospace, system-ui;
        cursor: pointer;
        /* color: darken(#ee6910, 30%); */
        color: var(--success-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .front {
        transform: rotateY(180deg);
        line-height: 110px;
        text-emphasis: none;
        img {
          width: 100%;
          aspect-ratio: 1 / 1;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
      &.flipped {
        transform: rotateY(180deg);
        /* to fix bug when after deploy */
        animation: unset;
      }
      &.matched {
        transform: rotateY(180deg);
        .front {
          box-shadow: 0 0 0 2px rgba(#000, 0.05) inset;
          animation: selected 0.8s 0s ease 1;
          animation-fill-mode: both;
          /* opacity: 0.8; */
        }
      }
    }
  }

  .restart-button {
    width: 12em;
    height: 3em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 12px;
    background-color: #6d1124;
    border: 0;
  }

  /* .centered {
    width: 100%;
    height: 100%;
    text-align: center;
  } */
}
@keyframes selected {
  0% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.2;
    scale: 1;
  }
  100% {
    opacity: 0.65;
    scale: 0.9;
  }
}
